[submodule "lib/reveal.js/"]
	path = lib/reveal.js/
	url = https://github.com/hakimel/reveal.js.git
[submodule "lib/highlight.js"]
	path = lib/highlight.js
	url = https://github.com/isagalaev/highlight.js.git
